
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f3e8e3;
    text-align: center;
    padding: 2em 1em;
}

section {
    padding: 2em;
}

footer {
    background-color: #f3e8e3;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
